.Landing {
  display: flex;
  flex: 1;
  height: 100%;
  flex-basis: auto;
  min-height: 360px;
  overflow-y: scroll;
  background-color: #2b3137;
  background-image: url("../background.jpg");
  background-size: cover;
}

.Landing-background {
  display: flex;
  flex: 1;
  justify-content: center;
  background-color: rgba(0,0,0,0.75);
}

.Landing-text {
  display: flex;
  flex: 1;
  justify-content: center;
  height: 100%;
  flex-direction: column;
  padding: 60px;
  color: white;
  font-size: 28px;
  max-width: 800px;
  font-weight: 200;
}

.Landing-text-title {
  font-size: 68px;
  font-family: "Arial Narrow";
  margin-bottom: 40px;
}

.Landing-text-description {
  color: rgba(255,255,255,0.6);
  font-family: Roboto, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Open Sans", sans-serif;
}

.Landing-text-highlight {
  font-weight: 100;
  color: white;
  text-decoration: underline;
  text-decoration-color: rgba(255,255,255,0.2);
  margin-right: 5px;
}

.Landing-button {
  margin: 30px;
  width: 160px;
  height: 50px;
}

.Landing-button-icon {
}

@media screen and (max-width: 650px) {
  .Landing-text-title {
    font-size: 40px !important;
    margin-bottom: 20px !important;
  }

  .Landing-text-description {
    font-size: 20px !important;
  }
}
