.RepoReadMe {
  height: 100%;
  display: flex;
  flex: 2;
  min-width: 480px;
  min-height: 360px;
  overflow-y: scroll;
  margin-left: 30px;
  margin-right: 30px;
  text-align: left;
  flex-direction: column;
}

@media screen and (max-width: 1000px) {
  .RepoReadMe {
    min-width: 360px !important;
  }
}

@media screen and (max-width: 800px) {
  .RepoReadMe {
    display: none !important;
  }
}

.RepoReadMe-title-block {
  display: flex;
  flex-direction: row;
  height: 10px;
  padding-top: 10px;
  padding-bottom: 15px;
  margin-top: 15px;
  border-bottom: 1px solid #e6e6e6;
  justify-content: space-between;
  align-items: center;
}

.RepoReadMe-title {
  /*margin-right: 10px;*/
}

.RepoReadMe-title-url {
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #e6e6e6;
}

.RepoReadMe-body {
  margin-top: 15px;
  margin-bottom: 30px;
}
