.OrganizationItem {
  border-bottom: 1px solid #e6e6e6;
  padding: 5px;
  display: flex;
  align-items: left;
  justify-content: space-between;
  flex-direction: row;
}

.OrganizationItemSelected {
  border-bottom: 1px solid #e6e6e6;
  padding: 5px;
  display: flex;
  align-items: left;
  justify-content: space-between;
  flex-direction: row;
  background-color: #f5f5f5;
}

.OrganizationItem-react-placeholder {
  padding: 20px;
}

.OrganizationItem-left {
  display: flex;
  padding: 10px;
  flex-direction: row;
  justify-content: flex-start;
}

.OrganizationItem-avatar {
  max-height: 40px;
  max-width: 40px;
  border-radius: 50%;
}

.OrganizationItem-details {
  display: flex;
  text-align: left;
  flex-direction: column;
  margin-left: 10px;
}

.OrganizationItem-name {
  font-size: 14px;
}

.OrganizationItem-location {
  font-size: 14px;
  font-weight: 200;
}

.OrganizationItem-delete-icon {
  padding: 7px;
  color: gray;
}

.OrganizationItem-delete-icon:hover {
  background-color: #f5f5f5;
}

.OrganizationItem-follow-button {
  margin: 4px;
  font-size: 12px;
  font-weight: 400;
}

.OrganizationItem-unfollow-button {
  margin: 4px;
  font-size: 12px;
  font-weight: 400;
}

a {
    display: block;
}
